* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
  .indicator {
    flex: 1;
    height: 2px;
    background: rgba(146, 146, 146, 0.573);
    border-radius: 50px;
    overflow: hidden;
    .line {
      border-radius: 50px;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      transform-origin: left;
    }
  }
}

.projects {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem;
  .title {
    height: 4rem;
    position: relative;
    h1 {
      text-wrap: nowrap;
      font-size: 3rem;
      font-weight: 300;
      position: absolute;
    }
  }
  .description {
    position: relative;
    min-height: 70px;
    max-width: 800px;
    p {
      width: 700px;
      letter-spacing: -.0125rem;
      line-height: 1;
      opacity: .8;
      position: absolute;
    }
  }
}

@media (max-width:900px) {
  nav {
    gap: 5px;
    padding: .2rem;
    .indicator {
      width: calc(100vw / 6)!important;
    }
  }
  .projects {
    padding: .2rem;
    .title {
      height: 2rem;
      h1 {
        font-size: 1.5rem;
      }
    }
    .description {
      width: 100vw;
      p {
        width: 100vw;
        font-size: .5rem;
      }
    }
  }
}