* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

main {
  width: 100vw;
  height: 100svh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
  .indicator {
    flex: 1;
    height: 3px;
    background: rgb(146, 146, 146);
    border-radius: 50px;
    overflow: hidden;
    .line {
      border-radius: 50px;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      transform-origin: left;
    }
  }
}